$main-width: 70%;
$header-height: 70px;
$header-left-width: 300px;
$content-left-width: 300px;
$name-font-size: 400%;
$sidepanel-font-size: 200%;
$nav-font-size: 150%;
$project-image-size: 50px;

@mixin container-of-float-div() {
  width: auto;
  position: relative;
}

@mixin first-float-div($width) {
  float: left;
  width: $width;
}

@mixin remaining-float-div($left-margin) {
  margin-left: $left-margin;
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

.container {
  width: $main-width;
  min-width: 500px;
  margin: auto;
}

.header-container {
  @include container-of-float-div();
  margin: 10px;
}

.name {
  @include first-float-div($header-left-width);
  font-size: $name-font-size;
  font-weight: bold;
}

.nav-container {
  @include remaining-float-div($header-left-width);
  height: $header-height;
}

.nav {
  display: inline-block;
  position: relative;
  margin: 10px;
  font-size: $nav-font-size;
}

.nav-indicator {
  height: 20%;
  background-color: gray;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-container {
  @include container-of-float-div();
  margin: 10px;
}

.sidepanel {
  @include first-float-div($content-left-width);
  font-size: $sidepanel-font-size;
}

.detail {
  @include remaining-float-div($content-left-width);
}

.project {
  @include container-of-float-div();
}

.project-title {
  font-size: 150%;
}

.project-image {
  @include first-float-div($project-image-size);
}

.project-description {
  @include remaining-float-div($project-image-size);
  padding: 10px;
}

.project-image img {
  width: $project-image-size;
  height: $project-image-size;
}

.project-bar {
  height: 10px;
  background-color: gray;
}

body {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79%, #abced4 79%, #abced4 81%, transparent 81%);
}
