body {
  font-family: sans-serif; }
  body .container .header-container {
    width: auto;
    position: relative;
    height: 70px;
    border-bottom: 2px solid #d6d6d6; }
    body .container .header-container .name {
      float: left;
      width: 300px;
      height: 70px;
      font-size: 400%;
      font-weight: bold; }
  body .container .nav-container {
    margin-left: 300px;
    overflow: hidden;
    padding-top: 21px;
    height: 49px; }
    body .container .nav-container .nav {
      display: inline-block;
      position: relative;
      margin: 10px;
      font-size: 150%; }
  body .container .content-container {
    width: auto;
    position: relative;
    margin: 10px; }
    body .container .content-container .event {
      width: auto;
      position: relative;
      width: 80%;
      margin: 20px auto;
      border-bottom: 1px dotted #ccc; }
      body .container .content-container .event .event-title {
        font-size: 150%; }
      body .container .content-container .event .event-detail .event-image {
        float: left;
        width: 50px; }
        body .container .content-container .event .event-detail .event-image img {
          width: 50px;
          height: 50px; }
      body .container .content-container .event .event-detail .event-description {
        margin-left: 50px;
        overflow: hidden;
        padding: 10px; }
  body a {
    color: inherit;
    text-decoration: none; }
