body {
  font-family: 'Nunito', sans-serif;
  background-color: #202124;
  color: #eee;
  margin: 5px;
}

hr {
  border-top: 1px solid #ccc;
}

p {
  margin: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #fafafa;
  font-weight: bold;
}

.name {
  font-size: 30px;
  margin: 0;
  padding: 5px;
  font-weight: normal;
}

.highlight {
  color: #fafafa;
}

.summary {
  color: #aaa;
  max-width: 800px;
  font-size: 30px;
  margin: 80px auto 80px auto;
  padding: 5px;
  text-align: center;
}

.contact {
  max-width: 800px;
  font-size: 20px;
  margin: 0 0 0 auto;
  padding: 5px;
  text-align: end;
}

.past {
  max-width: 800px;
  margin: 100px auto 50px auto;
  display: table;
}

.experience {
  margin-top: 20px;
  display: table;
}

.logo {
  width: 50px;
  height: 50px;
  transform: translateY(5%);
}

.round {
  border-radius: 50%;
}

.description {
  display: inline-block;
  margin-left: 15px;
}

.position,
.institute {
  margin: 5px;
  font-size: 20px;
}
